:host ::ngForm {
  .p-dialog.custom-dialog-no-spacing {
    .p-dialog-content {
      padding: 0 !important;
    }
  }
}

.custom-modal-view-fix {
  ::ng-deep app-post-card {
    .post-card {
      margin-bottom: 0 !important;
    }

    .post-card-header {
      padding-right: 3.25rem !important;
    }
  }
}