<div class="bg-white rounded-lg shadow overflow-hidden">
  <ng-container *ngIf="currentUser != null else anon">
    <div class="relative">
      <div class="w-full h-16 bg-gradient-to-r from-blue-200 to-blue-400"></div>
      <div class="absolute left-1/2 transform -translate-x-1/2 -bottom-8">
        <p-avatar
          [image]="currentUser.avatarUrl || 'assets/images/user-default.jpg'"
          styleClass="w-16 h-16 text-xl border-2 border-white"
          shape="circle"
        >
        </p-avatar>
      </div>
    </div>

    <div class="text-center pt-10 pb-4 border-b border-gray-200 px-4">
      <a (click)="navigateToProfile()" class="font-semibold text-gray-800 hover:underline cursor-pointer">
        {{ currentUser.fullName! }}
      </a>
      <p class="text-xs text-gray-500 mt-1">{{ currentUser.email || 'Please update your email' }}</p>
    </div>

    <div class="py-3 px-4 text-xs text-gray-500 border-b border-gray-200 space-y-1">
      <div class="flex justify-between items-center hover:bg-gray-100 p-1 rounded cursor-pointer">
        <span>Profile Views</span>
        <span class="text-blue-600 font-semibold">{{ 0 }}</span>
      </div>
      <div class="flex justify-between items-center hover:bg-gray-100 p-1 rounded cursor-pointer">
        <span>Post Impressions</span>
        <span class="text-blue-600 font-semibold">{{ 0 }}</span>
      </div>
    </div>

    <div class="py-3 px-4 text-xs text-gray-500 hover:bg-gray-100 cursor-pointer" (click)="navigateToSavedPosts()">
      <i class="pi pi-bookmark mr-1"></i>
      <span class="font-semibold text-gray-700">Saved Posts</span>
    </div>
  </ng-container>
  
  <ng-template #grayBg>
    <div class="w-full h-16 bg-gray-300"></div>
  </ng-template>

  <ng-template #anon>
    <div class="relative">
      Error retrieving user information
    </div>
  </ng-template>
</div>
