.loading-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // Tùy chỉnh thêm nếu muốn làm overlay toàn màn hình
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background-color: rgba(255, 255, 255, 0.7);
  // z-index: 9999;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--text-color-secondary);
}