<div class="panel">
  <h3>Thêm mục CV</h3>
  <p class="panel-description">Chọn các mục bạn muốn thêm vào CV</p>
  
  <div class="sections-grid">
    <div 
      *ngFor="let section of availableSections" 
      class="section-item"
      (click)="onAddSection(section)">
      <div class="section-icon">{{ section.icon }}</div>
      <span class="section-name">{{ section.name }}</span>
      <div class="add-button">
        <i class="icon-plus"></i>
      </div>
    </div>
  </div>
  
  <div *ngIf="availableSections.length === 0" class="no-sections">
    <p>Tất cả mục đã được thêm vào CV</p>
  </div>
</div>