:host ::ng-deep .p-card {
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.job-card-header {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0 1rem;

   p-avatar {
     margin-right: 1rem;
   }

   .company-info {
     flex-grow: 1;
   }

   .job-title {
     margin: 0 0 0.25rem 0;
     font-size: 1.1rem;
     font-weight: 600;
   }

   .company-name {
     margin: 0;
     color: var(--text-color-secondary);
     font-size: 0.9rem;
   }
}


.job-details {
  padding: 0.5rem 0;
  p {
    margin: 0.3rem 0;
    color: var(--text-color-secondary);
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    i {
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }
}

.job-tags {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;

  p-tag {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

:host ::ng-deep .p-card-footer {
   padding-top: 0.5rem !important;
}